<div class="container">
    <h1>Participants</h1>
    <p>
        <div class="input-group">
          <span class="input-group-addon">
            <i class="icon-search"></i>
          </span>
          <input type="text" ng-model="search.$" class="form-control">
        </div><!-- /form-group -->
    </p>
    <p>
        <div class="form-group form-inline">    
            Filters:
            <button class="btn" ng-class="{'btn-info':searchCriteria.dinner}" ng-model="searchCriteria.dinner" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">Dinner</button>
            <button class="btn" ng-class="{'btn-info':searchCriteria.party_with_sauna}" ng-model="searchCriteria.party_with_sauna" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">Party Sauna</button>
            <button class="btn" ng-class="{'btn-info':searchCriteria.party_bus}" ng-model="searchCriteria.party_bus" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">Party Bus</button>
            <button class="btn" ng-class="{'btn-info':searchCriteria.accomodation}" ng-model="searchCriteria.accomodation" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">Accomodation</button>
            <button class="btn" ng-class="{'btn-info':searchCriteria.scary_game}" ng-model="searchCriteria.scary_game" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">Psyco</button>
            Results: <b>{{filtered.length}}/{{users.length}}</b>
        </div>
    </p>
    <p>
        <div class="form-group form-inline" ng-show="search.dinner || search.party_bus">    
            Subfilters:
            <select ng-show="search.dinner" class="form-control" ng-model="search.dinner_option" style="width: 100px;">
                <option value="A">Menu A</option>
                <option value="B">Menu B</option>
                <option value="C">Menu C</option>
                <option value="D">Menu D</option>
            </select>
            <select ng-show="search.party_bus" class="form-control" ng-model="search.party_bus_option" style="width: 200px;">
                <option value="A">Party bus from Jurmala</option>
                <option value="B">Party bus from Lido Vermanitis</option>
            </select>            
        </div>        
    </p>
    <div class="clearfix"><br/></div>    
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th></th>
                <th><i class="icon-user"></i></th>
                <th><i class="icon-envelope"></i></th>
                <th><i class="icon-shopping-cart"></i></th>            
                <th><i class="icon-money"></i></th>
                <th><i class="icon-food"></i></th>
                <th><i class="icon-road"></i></th>
                <th><i class="icon-music"></i></th>
                <th><i class="icon-moon"></i></th>
                <th><i class="icon-eye-open"></i></th>
                <th></th>            
            </tr>
            </thead>
            <tbody>
            <tr ng-class="{'danger': (user.paid_amount||0) == 0, 'warning': (user.paid_amount||0) != 0 && user.paid_amount<user.due_amount, 'success': user.paid_amount==user.due_amount}" 
                    ng-repeat="user in (filtered= (users | filter:search | orderBy:'id'))" ng-click="edit(user.$id())">
                <td style="width: 50px"><gravatar email="user.email" size="50" default-image="'mm'"></gravatar></td>
                <td>{{user.getFullName()}}</td>
                <td>{{user.email}}</td>
                <td>{{user.due_amount && user.due_amount || 0}}</td>
                <td>{{user.paid_amount && user.paid_amount || 0}}</td>
                <td><i ng-class="{'icon-ok text-green': user.dinner, 'icon-remove text-red': !user.dinner}"></i><span ng-show="user.dinner">&nbsp;{{user.dinner_option}}</span></td>
                <td><i ng-class="{'icon-ok text-green': user.party_bus, 'icon-remove text-red': !user.party_bus}"></i><span ng-show="user.dinner">&nbsp;{{user.party_bus_option}}</span></td>
                <td><i ng-class="{'icon-ok text-green': user.party_with_sauna, 'icon-remove text-red': !user.party_with_sauna}"></i></td>
                <td><i ng-class="{'icon-ok text-green': user.accomodation, 'icon-remove text-red': !user.accomodation}"></i></td>
                <td><i ng-class="{'icon-ok text-green': user.scary_game, 'icon-remove text-red': !user.scary_game}"></i></td>            
                <td><a class="btn btn-danger remove" ng-click="remove(user, $index, $event)"><i class="icon-remove"></i></a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
