    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="$modalCancel()">&times;</button>
        <h4 class="modal-title">Menu</h4>
      </div>
      <div class="modal-body">
        <p>Please join the supper-tasty dinner! We are offering 4 super-tasty options:<p>
        <p><b>A)</b> Sea goods in sweet cream (cream, salmon, „tilapy” fish, vegetables)<br/>
        „Yellow galleons are sailing along a yellow wave”<br/>
        (chicken, vegetables, white rice, sauce with pineapples)<br/>
        Dizzy sunset (ice cream, local berries)</p>
        
        <p><b>B)</b> Dark red beet soup (beet root, pork, vegetables)<br/>
        The love of captain (pike or pike perch, cream – dill sauce, vegetables)<br/>
        „Darkness - silky and soft, the night is made from pink plush”<br/>
        (chocolate cake, jam, caster sugar )</p>
        
        <p><b>C)</b> Healthy vitamin soup (sorrel, leeks, greens, vegetables)<br/>
        Pork sausages from in peasants` taste (pork sausages, potatoes, stewed cabbage)<br/>
        Dizzy sunset (ice cream, local berries)</p>
        
        <p><b>D)</b> (VEGETARIAN)<br/>
        Healthy vitamin soup (sorrel, leeks, greens, vegetables)<br/>
        Latvian style risotto<br/>
        „Darkness - silky and soft, the night is made from pink plush”<br/>
        (chocolate cake, jam, caster sugar )</p>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="$modalClose()">Ok</button>
        </div>        
      </div>
    </div><!-- /.modal-content -->

