    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="$modalCancel()">&times;</button>
        <h4 class="modal-title"><i class="text-red icon-heart"></i>&nbsp;&nbsp; Show me your love!</h4>
      </div>
      <div class="modal-body">
        <p>This website is my open contribution to Riga Cool Times 2013. So, as far as you like it, you are welcome to give me a feedback and show me your <i class="text-red icon-heart"></i>!<p>
        <p>As I am attending the event, you can for example:</p>
        <ul class="list-group">
            <li class="list-group-item"><i class="icon-home" style="color: silver;"></i>&nbsp;&nbsp;invite me to stay at your place :)</li>
            <li class="list-group-item"><i class="icon-glass" style="color: gray;"></i>&nbsp;&nbsp;offer me a drink or two</li>
            <li class="list-group-item"><i class="text-red icon-heart"></i>&nbsp;&nbsp;give me an hug</li>
            <li class="list-group-item"><i class="icon-camera"  style="color: gray;"></i>&nbsp;&nbsp;send me a postcard from your country (ask me for the address)</li>
            <li class="list-group-item"><i class="icon-comment" style="color: navy;"></i>&nbsp;&nbsp;send me a feedback by email</li>
            <li class="list-group-item"><i class="icon-euro" style="color: gold;"></i>&nbsp;&nbsp;pay my fees for RCT 2013</li>
            <li class="list-group-item"><i class="icon-briefcase" style="color: maroon;"></i>&nbsp;&nbsp;offer me a job (I am a lawyer and may consider to change for a decent job)</li>
            <li class="list-group-item"><i class="icon-cloud" style="color: silver;"></i>&nbsp;&nbsp;ask me to make some web application for you (I will think about it)</li>
            <li class="list-group-item"><i class="icon-euro"  style="color: gold;"></i>&nbsp;&nbsp;donate me one thousand millior euro on my paypal account</li>
            <li class="list-group-item"><i class="icon-gift" style="color: red;"></i>&nbsp;&nbsp;show me your appreciation in manners I can not even imagine</li>
        </ul>
        <p>Thanks and see you in Riga!</p>
        <br/><br/>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="$modalClose()">Close</button>
        </div>        
      </div>
    </div><!-- /.modal-content -->

